.App-header {
  min-height: 100vh;
}

.quote-text {
  max-width: 28.125rem;
  font-size: 1.75em;
  font-weight: 500;
}

#author {
  font-size: 1em;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  background-color: black;
}
.media:hover {
  opacity: 0.9;
}

.next-button {
  border-radius: 5px;
  border-width: 0;
}
.next-button:hover {
  opacity: 0.9;
}
